{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"useTabs": true,
	"tabWidth": 2,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/database/?(.*)$",
		"^@/middlewares/?(.*)$",
		"^@/controllers/(.*)$",
		"^@/schemas/(.*)$",
		"^@/routes/(.*)$",
		"^@/lib/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true
}
